<!DOCTYPE html>
<html ng-app="calculatorApp">
    <head>
        <title>Calculator</title>
        <script src="/node_modules/angular/angular.js"></script>        
        <script src="/app/calculator.js"></script>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div ng-controller="CalculatorController">
            <input ng-model="x" type="number" />
            <input ng-model="y" type="number" />
            <strong>{{ z }}</strong>
            <input type="button" ng-click="sum()" value="+" />
        </div>
    </body>
</html>