<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>StartUp</title>
        <script src="/node_modules/angular/angular.js"></script>
        <script src="/app/startup.js"></script>
    </head>
    <body>
        <form ng-controller="StartUpController">
            Starting: <input ng-change="computeNeeded()" ng-model="startingEstimate" />
            Recommendation: {{ needed }}
            <button ng-click="requestFunding()">Fund my startup!</button>
            <button ng-click="reset()">Reset</button>
        </form>
    </body>
</html>