<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Shopping Cart</title>
        <script src="/node_modules/angular/angular.js"></script>        
        <script src="/app/talkingToServers/server.js"></script>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body ng-controller="ShoppingController">
        <h1>Shop!</h1>
        <table>
            <tr ng-repeat="item in items">
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price | currency }}</td>
            </tr>
        </table>
    </body>
</html>